@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5b3b3;
}

a {
  text-decoration: none;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  background: rgba(0, 0, 0, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 600;
  transition: 0.25s;
}

.nav-bar a:hover {
  color: #cf1089;
}

.nav-bar a.active {
  color: #cf1089;
}

h1 {
  margin-top: 130px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}

.form {
  background-color: #cf108971;
  height: 520px;
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  border-radius: 15px;
}

.form input {
  width: 400px;
  height: 30px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
}

.form .query {
  height: 200px;
  width: 400px;
  padding: 5px;
  resize: none;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.form button {
  width: 410px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  border: 2px solid white;
  color: #cf1089;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.2s;
}

.form button:hover {
  background-color: transparent;
  color: white;
}